In [106]:
import numpy as np
import pandas as pd
import spacy
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
import warnings
warnings.filterwarnings('ignore')
from numpy.linalg import norm

In [107]:
S1 = "sunshine state enjoy sunshine"
S2 = "brown fox jump high, brown fox run"
S3 = "sunshine state fox run fast"

In [108]:
CountVec = CountVectorizer(ngram_range=(1,1))

Count_data = CountVec.fit_transform([S1,S2,S3])
cv_data = Count_data.toarray()

cv_dataframe=pd.DataFrame(cv_data,columns=CountVec.get_feature_names())
print(cv_dataframe)

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

In [109]:
#TF Model
tf_vec = TfidfVectorizer(use_idf=False)
tf_data = tf_vec.fit_transform([S1, S2, S3])
tf= np.round_(tf_data.toarray(),decimals = 3)

tf_dataframe=pd.DataFrame(tf,columns=tf_vec.get_feature_names())
tf_dataframe

   brown  enjoy   fast    fox   high   jump    run  state  sunshine
0  0.000  0.408  0.000  0.000  0.000  0.000  0.000  0.408     0.816
1  0.603  0.000  0.000  0.603  0.302  0.302  0.302  0.000     0.000
2  0.000  0.000  0.447  0.447  0.000  0.000  0.447  0.447     0.447

In [110]:
#TF-IDF Model
tf_idf_vec = TfidfVectorizer(use_idf=True) 
tf_idf_data = tf_idf_vec.fit_transform([S1, S2, S3])
tfidf_data=tf_idf_data.toarray()
tf_idf_dataframe=pd.DataFrame(tfidf_data,columns=tf_idf_vec.get_feature_names())
tf_idf_dataframe

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
0,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
1,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
2,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

In [111]:
t1 = np.array(tfidf_data[0])
t3 = np.array(tfidf_data[2])

In [112]:
# compute cosine similarity
cosine = np.dot(t1,t3)/(norm(t1)*norm(t3))
print("Cosine Similarity between S1 & S3:", round(cosine,2))

Cosine Similarity between S1 & S3: 0.48